
a, button {
    background-color: #3EB25E;
    color: white;
    border: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 198px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

@media only screen and (max-width: 640px){
     a, button {
        font-size: 1rem;
        min-width: 160px;
        max-height: 30px;
    }
}