@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
}

.pag6 {
  display: flex;
  justify-content: center;
  gap: 8%;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto";
  font-weight: bold;
  width: 40%;
  height: 60%;
  gap: 3vh;
  margin-top: 5%;
}

.img6 {
  height: 70%;
}

.textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 10%;
  font-size: 30px;
  box-sizing: border-box;
  width: 100%;
  gap: 2vh;
}

.buttons {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0% 0 0 0;
  padding: 0 0 10% 2%;
  min-width: 0%;
  max-height: 8%;
  align-self: flex-start;
}

a {
  min-width: 100%;
  margin: 10% 0% -1% -5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 300% 0% 300%;
}
button {
  min-width: 100%;
  margin: 10% 0% -1% -5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 350% 0% 350%;
}

.nomes {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.emails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ages {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.fname {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 3%;
  margin: 3% -20% 1% 0;
  box-sizing: border-box;
  font-size: 20px;
  width: 100%;
  
}
.fname:hover{
  border: 1px solid #475242;
}
.emai {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 3%;
  margin: 4% -20% 1% 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
}
.emai:hover{
  border: 1px solid #475242;
}

.ag {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 8%;
  margin: 4% 20% 0% 0;
  box-sizing: border-box;
  font-size: 20px;
}
.ag:hover{
  border: 1px solid #475242;
}

#name::placeholder {
  font-size: 20px;
}

#email::placeholder {
  font-size: 20px;
}

#age::placeholder {
  font-size: 20px;
}
.a {
  font-size: 25px;
}

.button {
  font-size: 25px;
}

.button:hover{
  background-color:yellow;
  color: black;
}

a:hover{
  background-color:yellow;
  color: black;
}
@media only screen and (max-width: 640px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
  }

  .pag6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin: 0 20% 0 6%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    min-height: 70%;
  }
  .nomes {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .emails {
    display: flex;
    flex-direction: column;
    width: 90;
  }
  .ages {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .buttons {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    min-width: 200%;
    padding: 0 10% 0 80%;
    margin: 0 0 0 -120%;
  }

  .img6 {
    height: 55%;
    margin: 40% 0 -35% 0;
  }
  .a {
    font-size: 15px;
  }
  
  .button {
    font-size: 15px;
  }

  .text {
    border-radius: 20px;
  }
  .fname {
    font-size: 20px;
    width: 100%;
  }
  .emai {
    font-size: 20px;
    width: 90%;
  }

  .textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 10%;
    font-size: 18px;
    box-sizing: border-box;
    width: 190%;
    margin-top: 60%;
    gap: 2vh;
  }
  .ag {
    padding: 3% 4% 3% 4%;
    margin: 4% 70% 0% 0;
    
  }


#name::placeholder {
  font-size: 17px;
}

#email::placeholder {
  font-size: 17px;
}

#age::placeholder {
  font-size: 17px;
}

a,
button {
  min-width: 100%;
  margin: 2% 0% -1% -5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}
.button:hover{
  background-color:yellow;
  color: black;
}

a:hover{
  background-color:yellow;
  color: black;
}

}
