body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.pag1{
    display: flex;
    justify-content: center;
    gap: 6.25%;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0 6.5625% 0 16.5625%;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#img1{
    height: 86.973%;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 111px;
    margin: 0;

}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    font-weight: bold;
    padding: 5.26vh 0 8.68vh 0;
}

#lets {
        background-color: #3EB25E;
        color: white;
        border: none;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 90px;
        text-transform: uppercase;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;

}

@media only screen and (max-width:480px), (max-height: 768px){

    body{
        justify-content: center;
        position: relative;
    }

    #img1{
        display: flex;
        height: 200%;
        width: 70%;
        justify-content: center;
        position: relative;
        left: 6%;
        top: -20%;
        padding: 10px;
    }


        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 50px;
            display: flex;
            position: absolute;
            justify-content: center;
            left: 28%;
            top: 90%;
            
        }

        p{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 19px;
            display: flex;
            top: 115%;
            left: 20%;
            position: absolute;
        }

        #lets {
            color: white;
            background-color: green;
            border: none;
            height: 50px;
            line-height: 50px;
            padding: 0 80px;
            text-transform: uppercase;
            border-radius: 30px;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            top: 135%;
            left: 28%;
            position: absolute;

}
}